<h2 id='title'>CTF Conversor</h2>

<hr />

<h3>Passo #1:</h3>
{{spreadsheet-reader supplies=supplies}}

<h3>Passo #2:</h3>
<p>Razão Social: {{input value=supplier width='250px'}}</p>
<p>CNPJ: <small>(apenas números)</small> {{input value=cnpj size='15' maxlength='15' width='150px'}}</p>

<h3>Passo #3:</h3>
<p>Clique com o botão direito abaixo e vá em "Salvar link como..."":</p>
<a target='_blank' {{bind-attr href=reportURL}}>Download TXT</a>

{{outlet}}
